#Tue Aug 09 12:59:26 CEST 2022
layoutVertical=false
useSystemLookAndFeel=true
logFile=logs/feader.log
windowTitle=Feader - A Reader for RSS/Atom Feeds
updateFeedsOnStartup=false
aboutText=Feader is a reader for RSS/Atom feeds,\nbuilt as an exam project for the Java\nprogramming class of the IDH,\nUniversity of Cologne
aboutTitle=About Feader
configDialogTitle=Feader Configuration
